<div class="options">
	<div class="manufacture">
		<label>Manufacture:</label>
		<select ng-model="manufacture" ng-change="select()">
			<option value="BMW">BMW</option>
			<option value="Ford">Ford</option>
			<option value="Mercedes">Mercedes</option>
			<option value="Audi">Audi</option>
			<option value="Renault">Renault</option>
			<option value="Volkswagen">Volkswagen</option>
		</select>
	</div>	
	<div class="sorting">
		<label>Sort By:</label>
		<select ng-model="orderOption">
			<option value="price">Price</option>
			<option value="year">Year</option>
		</select>
	</div>
</div>
<div class="gallery-container">
	<ul>
		<li ng-repeat="car in content | orderBy: orderOption">
			<div class="img-container">
				<img src="{{car.image}}" alt="">
			</div>
			<div class="info">
				<p><span class="model"></span><b>Model:</b> {{car.model}}</p>
				<p><span class="engine"></span><b>Engine:</b> {{car.engine}}</p>
				<p><span class="date"></span><b>Year:</b> {{car.year}}</p>
				<p><span class="price"></span><b>Price:</b> {{car.price | currency:"$":0}}</p>
				<button class="add-to-cart" ng-click="addCart(car.id)">buy</button>
			</div>
		</li>
	</ul>
</div>

